<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <connectionStrings>
        <add name="rmConn" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;Persist Security Info=True;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString1" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString2" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString3" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString4" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString5" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString6" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString7" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString8" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
        <add name="Rainier MediaConnectionString9" connectionString="Data Source=iikr7hlbi6.database.windows.net;Initial Catalog=&quot;Rainier Media&quot;;User ID=Ranier_Team;Password=Class$276"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    </system.web>

</configuration>
